<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>SettingPush01</string>
				<key>targetVC</key>
				<string>MvpSettingController</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>title</key>
				<string>推送系列</string>
			</dict>
			<dict>
				<key>plistName</key>
				<string>SettingPush02</string>
				<key>targetVC</key>
				<string>MvpLiveController</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>title</key>
				<string>关注-时段</string>
			</dict>
			<dict>
				<key>plistName</key>
				<string>SettingPush03</string>
				<key>targetVC</key>
				<string>MvpSettingController</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>title</key>
				<string>提醒动画</string>
			</dict>
			<dict>
				<key>targetVC</key>
				<string>MvpSettingController</string>
				<key>plistName</key>
				<string>SettingPush04</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>title</key>
				<string>友情提醒</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string>心情很重要...</string>
	</dict>
</array>
</plist>
