<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>友情提醒</string>
				<key>switchKey</key>
				<string>settingpush04_00_00</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string>姿势很重要</string>
	</dict>
</array>
</plist>
