<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>switchKey</key>
				<string>settingpush01_00_00</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>subTitle</key>
				<string>欧美动作片</string>
				<key>title</key>
				<string>电影频道</string>
			</dict>
			<dict>
				<key>switchKey</key>
				<string>settingpush01_00_01</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>subTitle</key>
				<string>抗战系列</string>
				<key>title</key>
				<string>连续剧</string>
			</dict>
			<dict>
				<key>switchKey</key>
				<string>settingpush01_00_02</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>subTitle</key>
				<string>童年回忆</string>
				<key>title</key>
				<string>动画片</string>
			</dict>
			<dict>
				<key>switchKey</key>
				<string>settingpush01_00_03</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>subTitle</key>
				<string>娱乐休闲</string>
				<key>title</key>
				<string>斗地主</string>
			</dict>
			<dict>
				<key>switchKey</key>
				<string>settingpush01_00_04</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>subTitle</key>
				<string>科学探索</string>
				<key>title</key>
				<string>动物世界</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string>打开设置......</string>
	</dict>
</array>
</plist>
